<nav class="navbar navbar-inverse navbar-static-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">VetMed</a>
        </div>
        <ul  class="nav navbar-nav navbar-right">
            <li *ngIf="!isAdmin"><a href="#" data-toggle="modal" data-target="#loginForm">Login</a></li>
            <li *ngIf="isAdmin" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{name}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/admin">Manage account</a></li>
                    <li><a (click)="logout()" href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" tabindex="-1" #loginForm id="loginForm" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="username" [(ngModel)]="name" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="pwd" id="password" [(ngModel)]="pwd" placeholder="Password">
                        </div>
                    </div>
                </form>
                <div class="red">{{alert}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="login()">Login</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

